# Entorno virtual
venv/
__pycache__/
*.pyc

# Archivos temporales y cachés
*.log
*.tmp
*.sqlite3
events.db

# Configuración del sistema
.DS_Store
*.env
.env

# Archivos de VS Code
.vscode/
.idea/

.venv/
